@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  font-size: 62.5%;
  --primary-color: #f0ece5;
  --secondary-color: #b6bbc4;
  --primary-bg-color: #161a30;
  --secondary-bg-color: #31304d;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 10px;
}

body,
input,
button,
textarea {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

button,
a {
  cursor: pointer;
}

button:hover,
a:hover {
  filter: brightness(1.1);
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
